html, body {
	height: 100%;
	clear:both;
}
* {
	margin: 0;
	padding: 0;
	color: #333;
	list-style: none;
}
header {
	height: 40px;
	background: #333;
	width: 100%;
}
header h1 {
	text-align: center;
	margin:0 auto;
	color: #CCC;
}
#menu {
	margin: 0 auto;
	width: 800px;
	background: #333;
	display: table;
}
#menu ul {
	margin-right: 30px;
}
#menu li a {
	padding: 10px 20px;
	float: left;
	background: #333;
	color:#CCC;
	text-decoration: none;
}
#menu li a:hover {
	background: #EEE;
	color:#333;
}
#conteudo {
	width: 760px;
	background: #EEE;
	margin: 0 auto;
	min-height: 500px;
	padding:20px;
	position: relative;
}
.atual-item-menu {
	background: #EEE;
	color: #333;
}
footer{
	background: #333;
	color: #CCC;
	position: relative;
	bottom: 0;
	width: 100%;
}
footer p{
	display: table;
	margin: 0 auto;
	color: #CCC;
}
.flash{
	color: red;
}






















