<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		{% if title %}
			<title>{{title}} - FindBAR</title>
		{% else %}
			<title>FindBAR</title>
		{% endif %}
		<link rel='stylesheet' href='../static/base.css' type='text/css' />
		<!-- <link rel='stylesheet' href='../static/home.css' type='text/css' /> -->
		<link rel='stylesheet' href='../static/consulta.css' type='text/css' />
		<link rel='stylesheet' href='../static/cadastro.css' type='text/css' />
		<link rel='stylesheet' href='../static/resultado.css' type='text/css' />
	</head>
	<body>
		<header>
			<h1>FindBAR</h1>
		</header>

		<nav id='menu'>
			<ul>
				<li><a href='{{ url_for("home") }}'>Home</a></li>
				<li><a href='{{ url_for("cadastro") }}'>Cadastro</a></li>
				<li><a href='{{ url_for("consulta") }}'>Consulta</a></li>
			</ul>
		</nav>
		
		<section id='conteudo'>
			
			{% block conteudo %} {% endblock %}
		</section>

		<footer>
			<p> &copy Copyright 2014 - FindBAR</p>
		</footer>
	</body>
</html>