{% block campos_form_cad_bares %}
{% if get_flashed_messages() %}
<tr>
	<td colspan='2'>
		{% for message in get_flashed_messages() %}
        	<div class="flash">{{ message }}</div>
        <br/>
    {% endfor %}
	</td>
</tr>
{% endif %}
<tr>
	<td>Nome</td>
	<td>{{ form.nome(class='campo_formulario') }}
	{% for error in form.errors.nome %}
		<span style="color: red;">[{{error}}]</span>
		{% endfor %}</td>
</tr>
<tr>
	<td>Descrição</td>
	<td>{{ form.descricao(class='campo_formulario') }}
	{% for error in form.errors.descricao %}
		<span style="color: red;">[{{error}}]</span>
		{% endfor %}</td>
</tr>
<tr>
	<td>Endereço</td>
	<td>{{ form.endereco(class='campo_formulario') }}
	{% for error in form.errors.endereco %}
		<span style="color: red;">[{{error}}]</span>
		{% endfor %}</td>
</tr>
<tr>
	<td>Telefone</td>
	<td>{{ form.telefone(class='campo_formulario') }}
	{% for error in form.errors.telefone %}
		<span style="color: red;">[{{error}}]</span>
		{% endfor %}</td>
</tr>
<tr>
	<td>Especialidade</td>
	<td>{{ form.especialidade(class='campo_formulario') }}
	{% for error in form.errors.especialidade %}
		<span style="color: red;">[{{error}}]</span>
		{% endfor %}</td>
</tr>
<tr>
	<td>Foto</td>
	<td>{% if foto %}<img src='{{ foto }}' class='campo_formulario' alt='Foto atual' /> {% endif %}{{ form.foto(class='campo_formulario') }}{% for error in form.errors.foto %}
		<span style="color: red;">[{{error}}]</span>
		{% endfor %}</td></td>
</tr>
{% endblock %}