{% extends 'base.html' %}
{% block conteudo %}

	<div id='tab-consulta'>
		<form action='{{ url_for("consulta") }}' method='POST'>
			{{ form.hidden_tag() }}
			{{ form.consulta }}
			<input type='submit' value='Consultar' />
		</form>
	</div>

	{% if resultados %}
		<ul>
			{% if filtro %}
			<br />
			<li>&nbsp <i>Resultados para: <b>{{ filtro }} </b> </i></li>
			{% endif %}
		{% for resultado in resultados %}
			{% include 'resultado.html' %}
		{% endfor %}
		</ul>
	{% endif %}
{% endblock %}