{% extends 'base.html' %}
{% block conteudo %}

	<div id='tab-consulta'>
		<form action='{{ url_for("consulta") }}' method='POST'>
			{{ form.consulta }}
			<input type='submit' value='Consultar' />
		</form>
	</div>

	{% if resultados %}
		<ul>
			{% if filtro %}
			<br />
			<li>&nbsp <i>Resultados para: <b>{{ filtro }} </b> </i></li>
			{% endif %}
		{% for resultado in resultados %}
			<li><br /></li>
			<li>
				<table id='resultado'>
					<tr>
						<td id='resultado-esq'>
							<ul>
								<li><a href='#'><h3>{{resultado.nome}}</h3></a></li>
								<li>Descrição: {{resultado.descricao}} </li>
								<li>Endereço: {{resultado.endereco}} </li>
								<li>Telefone: {{resultado.telefone}}</li>
								<li>Especialidade: {{resultado.especialidade}}</li>
							</ul>
						</td>
						<td id='resultado-dir'>
							<img src='' />
						</td>
					</tr>
				</table>
			</li>
	
		{% endfor %}
		</ul>
	{% endif %}
{% endblock %}