<!DOCTYPE html>
<html>
	<head>
		<title>POST</title>
		<meta charset='utf-8' />
		<link rel='stylesheet' href='../static/base.css' type='text/css' />
		<link rel='stylesheet' href='../static/post.css' type='text/css' />
		<style>
			#post{
				padding: 2.5px 5px ;
				width: 700px;
				background: #CCC;
			}
			#post-esq{
				width: 480px;
			}
			#post-dir{
				width: 210px;
				background: #333;
			}
			#post-dir img{
				width:200;
				height:150;
			}
		</style>
	</head>
	<body>
		<ul>

		<!-- POST BEGIN -->
			<li>
				<table id='post'>
					<tr>
						<td id='post-esq'>
							<ul>
								<li><a href='#'><h3>Nome do BAR</h3></a></li>
								<li>Descrição: Descrição do Bar Descrição do Bar Descrição do Bar </li>
								<li>Endereço: Endereço do BAR Endereço do BAR</li>
								<li>Telefone: (84) 9940-8105</li>
								<li>Horário de Funcionamento: 08:00 às 23:00</li>
							</ul>
						</td>
						<td id='post-dir'>
							<img src='' />
						</td>
					</tr>
				</table>
			</li>

		<!-- POST END -->

		</ul>

	</body>
</html>
